.server-error-page {
    max-width: 26.069vw;
    margin: 0 auto;
    margin-top: 2.607vw;
    padding: 2.086vw;
    border: 0.052vw solid #c8c8c8; 
    text-align: center;   
}

.server-error-page .server-error-title {
    font-size: 2.607vw;
    letter-spacing: 0.521vw;
    margin-bottom: 0.521vw;
    color: #f44336;
}

.server-error-page .server-error-desc {
    font-size: 1.043vw;
    margin-bottom: 1.043vw;
}

.server-error-go-back-btn {
    min-width: 8.342vw;
}